<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daisy">

    <queries>
        <package android:name="au.com.optus.android.gooptus" />
        <package android:name="au.com.fetchtv" />
        <package android:name="au.com.optus.optusstadium" />
        <package android:name="com.spotify.music" />
        <package android:name="com.android.chrome" />
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="com.samsung.retailexperience.retailpalette" />
        <package android:name="com.samsung.retailexperience.retailhubble" />
        <package android:name="com.samsung.retailexperience.retailsmartswitch" />
        <package android:name="com.samsung.rms.retailagent.global" />
        <package android:name="com.samsung.sea.retail.appmonitor" />
        <package android:name="com.samsung.rms.rtp.kinesis" />
        <package android:name="com.galaxy.spec" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <application
        android:name=".mainDaisy.app.AppController"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LuncherActivtiy"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainDaisy.activity.socketConnection.SocketConnection"
            android:exported="false" />

        <service
            android:name=".mainDaisy.service.DeviceSearch"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".mainDaisy.activity.demo.DemoActivity"
            android:exported="false"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mainDaisy.activity.langSupport.LangSelectionActivity" />
        <activity android:name=".mainDaisy.activity.updateProduct.UpdateProduct" />

        <service
            android:name=".mainDaisy.service.SecurityService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".mainDaisy.activity.feedBack.FeedBackActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".mainDaisy.activity.baseUrl.BaseUrlSettings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".mainDaisy.activity.refreshTimer.RefreshTimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.configSettings.ConfigSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.updateBaseUrl.UpdateBaseUrl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.updatePosition.UpdatePosition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.onBoarding.slider.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.welcomeScreen.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.splash.SplashScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".mainDaisy.activity.lockscreen.LockScreen"
            android:screenOrientation="portrait" />

        <service
            android:name=".mainDaisy.service.DeletePhotoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".mainDaisy.service.StickyService"
            android:stopWithTask="false" />

        <activity
            android:name=".mainDaisy.activity.settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.logs.logs_show.LogsShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mainDaisy.activity.logs.LogsMainActivity" />
        <activity
            android:name=".mainDaisy.activity.editorTool.EditorTool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainDaisy.activity.mainActivity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true" />

        <receiver android:name=".mainDaisy.broadcast.broadcastforbackgroundservice.AlarmReceiverForBackground" />
        <receiver
            android:name=".mainDaisy.broadcast.broadcastforbackgroundservice.AlarmBootBackgroundReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".mainDaisy.broadcast.bootcomplete.BootReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mainDaisy.service.BackgroundService"
            android:stopWithTask="false" />
        <service
            android:name=".mainDaisy.service.BackgroundSoundService"
            android:stopWithTask="false" />
        <service
            android:name=".mainDaisy.service.LogGenerateService"
            android:stopWithTask="false" />

        <receiver
            android:name=".mainDaisy.security.Admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".daisyGo.activity.langSupport.LangSelectionActivity" />
        <activity android:name=".daisyGo.activity.updateProduct.UpdateProduct" />

        <service
            android:name=".daisyGo.service.SecurityService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".daisyGo.activity.feedBack.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.baseUrl.BaseUrlSettings"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".daisyGo.activity.refreshTimer.RefreshTimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.configSettings.ConfigSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.updateBaseUrl.UpdateBaseUrl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.updatePosition.UpdatePosition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.onBoarding.slider.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.welcomeScreen.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.splash.SplashScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".daisyGo.activity.lockscreen.LockScreen"
            android:screenOrientation="portrait" />

        <service
            android:name=".daisyGo.service.DeletePhotoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".daisyGo.service.StickyService"
            android:stopWithTask="false" />

        <activity
            android:name=".daisyGo.activity.settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.logs.logs_show.LogsShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".daisyGo.activity.logs.LogsMainActivity" />
        <activity
            android:name=".daisyGo.activity.editorTool.EditorTool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daisyGo.activity.mainActivity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true" />

        <receiver android:name=".daisyGo.broadcast.broadcastforbackgroundservice.AlarmReceiverForBackground" />
        <receiver
            android:name=".daisyGo.broadcast.broadcastforbackgroundservice.AlarmBootBackgroundReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".daisyGo.broadcast.bootcomplete.BootReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".daisyGo.service.BackgroundService"
            android:stopWithTask="false" />
        <service
            android:name=".daisyGo.service.BackgroundSoundService"
            android:stopWithTask="false" />
        <service
            android:name=".daisyGo.service.LogGenerateService"
            android:stopWithTask="false" />

        <activity
            android:name=".optimalPermission.activity.socketConnection.SocketConnection"
            android:exported="false" />

        <service
            android:name=".optimalPermission.service.DeviceSearch"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".optimalPermission.activity.langSupport.LangSelectionActivity" />
        <activity android:name=".optimalPermission.activity.updateProduct.UpdateProduct" />

        <service
            android:name=".optimalPermission.service.SecurityService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".optimalPermission.activity.feedBack.FeedBackActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".optimalPermission.activity.baseUrl.BaseUrlSettings"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".optimalPermission.activity.refreshTimer.RefreshTimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.configSettings.ConfigSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.updateBaseUrl.UpdateBaseUrl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.updatePosition.UpdatePosition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.onBoarding.slider.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.welcomeScreen.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.splash.SplashScreen"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".optimalPermission.activity.lockscreen.LockScreen"
            android:screenOrientation="portrait" />

        <service
            android:name=".optimalPermission.service.DeletePhotoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".optimalPermission.service.StickyService"
            android:stopWithTask="false" />

        <activity
            android:name=".optimalPermission.activity.settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.logs.logs_show.LogsShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".optimalPermission.activity.logs.LogsMainActivity" />
        <activity
            android:name=".optimalPermission.activity.editorTool.EditorTool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".optimalPermission.activity.mainActivity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true" />

        <receiver android:name=".broadcast.broadcastforbackgroundservice.AlarmReceiverForBackground" />
        <receiver
            android:name=".optimalPermission.broadcast.broadcastforbackgroundservice.AlarmBootBackgroundReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name=".optimalPermission.service.BackgroundService"
            android:stopWithTask="false" />
        <service
            android:name=".optimalPermission.service.BackgroundSoundService"
            android:stopWithTask="false" />
        <service
            android:name=".optimalPermission.service.LogGenerateService"
            android:stopWithTask="false" />

        <activity
            android:name="com.daisy.mdmt.activity.socketConnection.SocketConnection"
            android:exported="false" />

        <service
            android:name="com.daisy.mdmt.service.DeviceSearch"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.daisy.mdmt.activity.langSupport.LangSelectionActivity" />
        <activity android:name="com.daisy.mdmt.activity.updateProduct.UpdateProduct" />

        <service
            android:name="com.daisy.mdmt.service.SecurityService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.daisy.mdmt.activity.feedBack.FeedBackActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.daisy.mdmt.activity.baseUrl.BaseUrlSettings"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.daisy.mdmt.activity.refreshTimer.RefreshTimer"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.configSettings.ConfigSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.updateBaseUrl.UpdateBaseUrl"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.updatePosition.UpdatePosition"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.daisy.mdmt.activity.onBoarding.slider.OnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.welcomeScreen.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.splash.SplashScreen"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.daisy.mdmt.activity.lockscreen.LockScreen"
            android:screenOrientation="portrait" />

        <service
            android:name="com.daisy.mdmt.service.DeletePhotoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.daisy.mdmt.service.StickyService"
            android:stopWithTask="false" />

        <activity
            android:name="com.daisy.mdmt.activity.settings.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.logs.logs_show.LogsShowActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.daisy.mdmt.activity.logs.LogsMainActivity" />
        <activity
            android:name="com.daisy.mdmt.activity.editorTool.EditorTool"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daisy.mdmt.activity.mainActivity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true" />


        <receiver
            android:name="com.daisy.mdmt.broadcast.bootcomplete.BootReceiver"
            android:enabled="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.daisy.mdmt.service.BackgroundService"
            android:stopWithTask="false" />
        <service
            android:name="com.daisy.mdmt.service.BackgroundSoundService"
            android:stopWithTask="false" />
        <service
            android:name="com.daisy.mdmt.service.LogGenerateService"
            android:stopWithTask="false" />


    </application>

</manifest>