<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daisy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />

    <application
        android:name=".app.AppController"
        android:hardwareAccelerated="true"
        android:icon="@drawable/mpclogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/mpclogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.WifiTimeCorrectionActivity"
            android:exported="false" />

        <service
            android:name=".service.LogGenerateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.langSupport.LangSelectionActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.updateProduct.UpdateProduct"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <service
            android:name=".service.SecurityService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.feedBack.FeedBackActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.baseUrl.BaseUrlSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.refreshTimer.RefreshTimer"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.configSettings.ConfigSettings"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.updateBaseUrl.UpdateBaseUrl"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.updatePosition.UpdatePosition"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.onBoarding.slider.OnBoarding"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.welcomeScreen.WelcomeScreen"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.lockscreen.LockScreen"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <service
            android:name=".service.DeletePhotoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.StickyService"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name=".activity.settings.Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.logs.logs_show.LogsShowActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.logs.LogsMainActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.editorTool.EditorTool"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mainActivity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:showOnLockScreen="true" />

        <receiver android:name=".broadcast.broadcastforbackgroundservice.AlarmReceiverForBackground" />
        <receiver
            android:name=".broadcast.broadcastforbackgroundservice.AlarmBootBackgroundReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.bootcomplete.BootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackgroundService"
            android:exported="true"
            android:stopWithTask="false" />
        <service
            android:name=".service.BackgroundSoundService"
            android:exported="true"
            android:stopWithTask="false" />

        <receiver
            android:name=".security.Admin"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED" />
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>